---
title: We create, invest in, and develop digital businesses
permalink: /
exclude: true
video: /assets/vid/alt2
logo: nav-logo-yellow
tiles:
- title: Foodboro
  desc: Foodboro is a community for food &amp; beverage makers. We gather intelligence, insights, and provide members with the services they need to navigate the future of food and beverage.
  link: https://www.foodboro.com/
  img: foodboro.jpg
  label: Label text
- title: Supercast
  desc: Easily deliver subscriber-exclusive content to your most passionate fans, get paid, and enjoy rich analytics on your business.
  link: https://www.supercast.com/
  img: supercast.jpg
  label: Label text
- title: Pryon
  desc: Pryon is an AI company that delivers augmented intelligence for the enterprise. Driven by the inventors of core natural language technologies, the company is developing a platform that connects employees to digital transformation, extending their ability to find and use knowledge, drive workflows, and make better decisions from wherever they are.
  link: https://www.pryon.com/
  img: pryon.jpg
  label: Label text
- title: Conde Nast
  desc: Create. Connect. Condé Nast on Condé Nast.
  link: https://www.condenast.com/
  img: condenast.jpg
  label: Label text
- title: Cuseum
  desc: Cuseum helps museums accelerate visitor engagement.
  link: https://cuseum.com/
  img: cuseum.jpg
  label: Label text
- title: Scripto
  desc: Making television is hard. Scripto makes it easier.
  link: https://scripto.live/
  img: scripto.jpg
  label: Label text
- title: Hotel Chatter
  desc: The latest on hotels from Condé Nast Traveler. Get hotel ratings and reviews plus industry news to help you find the best hotels around the world.
  link: https://www.cntraveler.com/
  img: hotelchatter.jpg
  label: Label text

---

<div class="sections">
	<div class="section header dark bottom">
		<div class="section-content">
			<div class="short">
				<h1>Creating, investing in, and developing digital businesses.</h1>
			</div>
		</div>
	</div>
	<div class="section bg-white" id="work">
		<div class="section-content">
			<div class="center">
				<h3>Our Work</h3>
			</div>
			<div>
				<div class="tiles" id="tiles">
					{% for tile in page.tiles %}
						{% include content/tile.html label=tile.label title=tile.title desc=tile.desc link=tile.link image=tile.img %}
					{% endfor %}
				</div>
				{% if page.tiles.size > 4 %}
					<div class="tiles-controls">
						<a class="tiles-control tiles-control-previous btn btn-default btn-icon btn-previous" title="previous" data-toggle="previous" data-target="#tiles"></a>
						<a class="tiles-control tiles-control-next btn btn-default btn-icon btn-next" title="next" data-toggle="next" data-target="#tiles"></a>
					</div>
				{% endif %}
			</div>
			<div class="grid">
				<div class="cell">
					<h5>Creating</h5>
					<p>We co-create startup ventures with select partners.  We also create & build our own side projects in areas that interest us.</p>
				</div>
				<div class="cell">
					<h5>Investing</h5>
					<p>We run an open ended angel fund that invests in exceptional entrepreneurs working on meaningful projects.</p>
				</div>
				<div class="cell">
					<h5>Developing</h5>
					<p>We help digital businesses define their product & growth strategy, and build their operations & revenues.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section dark bg-dark" id="contact">
		<div class="section-content">
			<div class="center">
				<h5 class="light">Contact Us</h5>
				<h3 data-large>We are looking for creation stage opportunities and budding digital businesses.</h3>
				<h4 data-small>We are looking for creation stage opportunities and budding digital businesses.</h4>
				<div class="form">
					<div class="btns">
						<a href="mailto:{{ site.email }}?subject={{ site.email_subject | url_encode | replace: '+','%20' }}" title="Contact Attic Ventures" class="btn btn-primary">Tell us your story <i data-symbol="right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section dark bg-darker">
		<div class="section-content">
			<div class="grid">
				<div class="cell center">
					<h5>Founder Bio</h5>
					<div class="form">
						<div class="btns">
							<a href="https://www.linkedin.com/in/{{site.linkedin}}" rel="nofollow" target="_blank" class="btn btn-faint">Mark G. Johnson <i data-symbol="right"></i></a>
						</div>
					</div>
				</div>
				<div class="cell center">
					<h5>Connect</h5>
					<div class="form">
						<div class="btns">
							{% if site.linkedin %}<a href="https://www.linkedin.com/in/{{site.linkedin}}" rel="nofollow" target="_blank" class="btn btn-faint btn-icon btn-linkedin" title="{{site.author}}, {{site.title}} on Linkedin"><strong class="hidden">{{site.author}}, {{site.title}} on Linkedin</strong></a>{% endif %}
							{% if site.twitter %}<a href="https://twitter.com/{{site.twitter}}" rel="nofollow" target="_blank" class="btn btn-faint btn-icon btn-twitter" title="{{site.author}}, {{site.title}} on Twitter"><strong class="hidden">{{site.author}}, {{site.title}} on Twitter</strong></a>{% endif %}
							{% if site.medium %}<a href="https://medium.com/@{{site.medium}}" rel="nofollow" target="_blank" class="btn btn-faint btn-icon btn-medium" title="{{site.author}}, {{site.title}} on Medium"><strong class="hidden">{{site.author}}, {{site.title}} on Medium</strong></a>{% endif %}
							{% if site.angelist %}<a href="https://angel.co/{{site.angelist}}" rel="nofollow" target="_blank" class="btn btn-faint btn-icon btn-angelist" title="{{site.author}}, {{site.title}} on AngelList"><strong class="hidden">{{site.author}}, {{site.title}} on AngelList</strong></a>{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
