.tiles {
	@include flex-row;
	@include flex-wrap(nowrap);
	margin: 2rem -1rem;
	@include bookend;
	overflow: hidden;
	overflow-x: scroll;
	padding: 12px 0;
	@include small {
		margin-left: -9vw;
		margin-right: -9vw;
	}
	@include touch { scroll-snap-type: x mandatory; }
	.tile {
		&:first-child { margin-left: auto; }
		&:last-child { margin-right: auto; }
		color: inherit;
		scroll-snap-align: start;
		display: block;
		@include flex(0,0,25%);
		@include max-phablet {
			@include flex(0,0,50%);
		}

		.tile-content {
			padding: .75rem;
			.tile-graphic {
				background: white;
				@include background;
				@include transitions;
				@include before {
					content: '';
					display: block;
					padding-bottom: percentage(9/16);
				}
				border-radius: 3px;
				@include shadow;
			}
			.tile-body {
				display: none;
			}
			.tile-label {
				text-align: center;
				padding-top: 12px;
				@include font-size-label;
			}
		}
		@include active {
			z-index: 2;
			.tile-graphic {
				@include transform(scale(1.07));
				@include shadow(10px);
			}
		}
	}
}